div{
     background-color: #F8F8F8;
     border-style: solid;
     border width: 4px;
     border-color: #D0CCCC;
     border-radius: 9px;

}


body {
  margin: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  display: flex;
  text-align: center;

}


ul {
    text-align: center;
    font-size: 18px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;

}


.btn2 {
  display: block;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  font-family: Arial;
  font-weight: 1200;
  border-radius: 5px;
  margin-left: auto:
  margin-right: auto;
  padding: 15px 15px;
  background-color: #18CDF1;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin: 15px 120px;
  border:2px solid #18CDF1;
  transition: background-color 0.3s ease;


}

.btn2:hover {
  background-color:#1379D8;
}



.centered-btn2 {
    padding: 20px 20px;
    font-size: 21px;
    margin-left: auto:
    margin-right: auto;
}


